<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207546045956-3mcuit2mb5ncm16397aoa37n2gjaf9ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207546045956-3mcuit2mb5ncm16397aoa37n2gjaf9ub</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5GtyfzBJqM1SqWdit5LZFd8WXzKf1L4</string>
	<key>GCM_SENDER_ID</key>
	<string>207546045956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jemputahAppDriver</string>
	<key>PROJECT_ID</key>
	<string>jemputah-database</string>
	<key>STORAGE_BUCKET</key>
	<string>jemputah-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207546045956:ios:6e297c8fa7bf1482d00751</string>
	<key>DATABASE_URL</key>
	<string>https://jemputah-database-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>